<!-- user -->
<div *ngIf='!isAdmin'>
  <div class="popup" *ngIf='popup' >
  <input [(ngModel)]="amount" class="popup-input" placeholder="Quantity">
  <button (click)="addToCart()"> save </button>
</div>
</div>

<!-- user and admin -->
<div class="card popup" style="width: 18rem;" (click)="showPopup()">
  <!-- <input class="popuptext" id="myPopup" placeholder="Quantity"></input> -->
  <img class="card-img-top" src="{{product.img}}" alt="Card image cap">
  <div class="card-body">
    <span class="card-text">{{product.ProductName}}</span> <br />
    <span class="card-text">{{product.price}}</span>
    <span class="currency">₪</span>
  </div>
</div>