<div class="info-card">
    <img class="card-img-top" src='/assets/img/store.jpeg' alt="Supermarket">
    <div class="card-body">
      <h5 class="card-title">Supermarket</h5>
      <p class="card-text">The company strives to offer each customer the right service for the needs that characterize him, thus providing a solution for all types of consumers in Israel. The company imports fresh products every week and fruits and vegetables from the yoke every day. Their prices are the cheapest and the most paid.</p>
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
  </div>