.header {
  background-color: #bbcee9;
  display: flex;
  justify-content: space-between;
  line-height: 100px;
}

img {
  margin: 20px;
  width: 70px;
  height: 70px;
}

.form-control-plaintext{
  width: 117px;
}
.fas{
  cursor: pointer;
}

.header-links>a, label {
  margin-right: 20px;
  color: #000000;
}

.header-links {
  margin-top: auto;
}

.links {
  cursor: pointer;
  color: blue;
}