<div class="header">
  <img src='/assets/img/logo3.png'>

  <!-- <form class="form-inline" [formGroup]="SearchForm"> -->
    <!-- <div class="form-group mb-2">
      <label type="text" class="form-control-plaintext">Search Product</label>
    </div>
    <div class="form-group mx-sm-3 mb-2">
      <input [(ngModel)]="name" class="form-control" placeholder="Enter product name">
    </div>
      <i class="fas fa-search" (click)="searchProductByName()"></i> -->
  <!-- </form > -->

  <form class="form-inline" [formGroup]="SearchForm" (ngSubmit)="searchProductByName()">
    <div class="form-group mb-2">
      <label type="text" readonly class="form-control-plaintext">Search Product</label>
    </div>
    <div class="form-group mx-sm-3 mb-2">
      <input formControlName="SearchName" class="form-control" placeholder="Enter product name">
    </div>
    <button class="btn btn-primary mb-2">
      <i class="fas fa-search"></i>
    </button>
  </form>

  <div>
    <div class="header-links" *ngIf="!userInfo">
      <a class="links" routerLink="/login">Login</a>
      <a class="links" routerLink="/registration">Join</a>
    </div>
    <div class="header-links" *ngIf="userInfo">
      <label> Hello {{userInfo.firstName}} {{userInfo.lastName}}</label>
      <label class="links" (click)="userLogout()">Logout</label>
    </div>
  </div>
</div>

<router-outlet></router-outlet>