.Registration-form{
    max-width: 400px;
    min-height: 450px;
    background-color: #ffffff;
    border: 1px solid #20599a;
    border-radius: 5px;
    padding: 8px;
    /* margin: auto; */
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.invalid-feedback-custom {
    color: red;
}

.Registration-title{
    color: #20599a;
    margin-top: 10px;
    text-align: center; 
}

.form-label{
    margin-top: 10px; 
    color: #495057;
}

.btn{
    width: 100%;   
}

.login-link{
    margin-top: 20px;
    color: #20599a;
}

.login-bottom{
  text-align: center;  
}
