<ul class="nav justify-content-end">
    <li class="nav-item">
      <span routerLink="/store/Milk&Eggs" class="nav-link" [routerLinkActive]='["active-link"]'>Milk&Eggs</span>
    </li>
    <li class="nav-item" >
      <span routerLink="/store/Vegetabler&Fruits" class="nav-link" [routerLinkActive]='["active-link"]'>Vegetabler&Fruits</span>
    </li>
    <li class="nav-item">
      <span routerLink="/store/Meat&Fish" class="nav-link" [routerLinkActive]='["active-link"]'>Meat&Fish</span>
    </li>
    <li class="nav-item">
      <span routerLink="/store/Wine&Drinks" class="nav-link" [routerLinkActive]='["active-link"]'>Wine&Drinks</span>
    </li>
  </ul>

<div class="all-products">
  <app-products *ngFor="let p of allProducts" [product]="p">
</app-products>  
</div>




