.nav {
    margin: 10px 20px 0 0;
}

.nav-link{
    display: inline-block; 
    color: #20599a;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.nav-link:hover {
    color: #000;
}

.nav-item:not(:last-child) .nav-link::after {
    content: '';
    border: 1px solid #ddd;
    margin: auto 10px;
    display: inline-block;
    height: 10px;
}

.all-products{
    display: flex;

}