/* .cart{
    height: 100%;
    position: relative;
    left: 10px;
} */
.cart .highlightText {
    background-color: yellow;
}

.cart .cart {
    position: relative;
    display: inline-block;
    width: 350px;
    height: 100%;
    min-height: 396px;
    background: antiquewhite;
    border: 1px solid black;
    border-radius: 5px;
    transition: left 500ms ease-in-out;
}

.cart.show {
    left: 0;
}

.cart.hide {
    left: -350px;
}

.fas.fa-chevron-left, .fas.fa-chevron-right{
    position: absolute;
    right: -35px;
    top: -1px;
    background: antiquewhite;
    padding: 13px;
    border: 1px solid;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 0;
    cursor: pointer;
}

.fa-times{
    cursor: pointer;
}

h4 {
    display: inline-block;
    margin-left: 20px;
    color: #20599a;
}

h6 {
    margin-left: 20px;
    color: #20599a;
}

.cart .save-btn {
    border: none;
    background: #20599a;
    color: #fff;
    width: 97% !important;
    padding: 6px;
    margin: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.cart .products-list i {
    margin-left: 19px;
    margin-right: 8px;
}

.cart .products-list img {
    margin-right: 8px;
}

.cart .products-list {
    margin-top: 5px;
    margin-bottom: 5px;
}

.cart .user-list {
    margin-bottom: 90px;
}

.cart .total-price {
    position: absolute;
    bottom: 40px;
}

.cart .delete-all {
    background: #20599a;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 10px;
}