<div class="cart {{toggleShow}}">
  <h4>My Cart</h4>
  <i *ngIf="show" class="fas fa-chevron-left" (click)="toggleCart()"></i>
  <i *ngIf="!show" class="fas fa-chevron-right" (click)="toggleCart()"></i>

  <!-- admin -->
  <div *ngIf="isAdmin" class="new-products">
    <app-new-product></app-new-product>
  </div>

  <div *ngIf="!isAdmin" class="user-list">
    <div class="products-list" *ngFor="let p of allCartProducts">
      <i #messageEl class="fas fa-times" (click)="deleteItem(messageEl)" [attr.data-item-id]="p._id" ></i>
      <img src="{{p.img}}" style="height: 30px; width:30px;">  {{p.ProductName}} {{p.price}} {{p.amount}}
    </div>

  </div>
  <div *ngIf="!isAdmin">
    <h6>Total</h6>
    <button routerLink="/order-home">Order</button>

  </div>
</div>
<router-outlet></router-outlet>