<div class="cart {{toggleShow}}">
  <h4>My Cart</h4>
  <span *ngIf="!isAdmin">
      <span *ngIf="!inOrder" class="delete-all" (click)="deleteAll()"><i class="far fa-trash-alt"></i> delete all</span>
  </span>

  <div *ngIf="inOrder">
    <div class="form-group mb-2">
      <label type="text" readonly class="form-control-plaintext">Search Product</label>
    </div>
    <div class="form-group mx-sm-3 mb-2">
      <input [(ngModel)]="query" class="form-control">
    </div>
  </div>


  <i *ngIf="show" class="fas fa-chevron-left" (click)="toggleCart()"></i>
  <i *ngIf="!show" class="fas fa-chevron-right" (click)="toggleCart()"></i>

  <!-- admin -->
  <div *ngIf="isAdmin" class="new-products">
    <app-new-product></app-new-product>
  </div>

   <!-- user -->
   <div *ngIf="inOrder" >
   </div>
  <div  *ngIf="!isAdmin" class="user-list">
    <div class="products-list" *ngFor="let p of allCartProducts">
      <i *ngIf="!inOrder" #messageEl class="fas fa-times" (click)="deleteItem(messageEl)" [attr.data-item-id]="p._id"></i>
      <img src="/api/assets/{{p.product.img}}" style="height: 30px; width:30px;"> <span [innerHTML]="highlight(p.product.ProductName)">{{p.product.ProductName}}</span> {{p.quantity}}X
      {{p.product.price}}₪
    </div>
  </div>

  <div *ngIf="!isAdmin">
    <h6 class="total-price" *ngIf="total">Total: {{total}}</h6>
    <button class="save-btn" *ngIf="!inOrder" (click)="showOrder()">Order</button>
    <h5 *ngIf="inOrder">No Changes Permitted Here!</h5>

  </div>
</div>
<router-outlet></router-outlet>