 .new-product-form {
     max-width: 350px;
     border-top: 1px solid #20599a;
     /* border-bottom: 1px solid #20599a; */
     /* border: 1px solid #20599a; */
     /* border-radius: 5px; */
     padding: 8px;
 }

 .new-product-form .title {
     color: #20599a;
     margin-top: 10px;
 }

 .new-product-form .btn {
     width: 100%;
 }

 .new-product-form .new-btn {
    background: #20599a;
    font-size: 13px;
    color: #fff;
    margin-left: 5px;
    border: none;
    border-radius: 5px;
 }