<div class="store-container">
  <div class="right">
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link active" href="#">Milk&Eggs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Vegetabler&Fruits</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Meat&Fish</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Wine&Drinks</a>
      </li>
    </ul>

    <div class="all-products">
      <app-all-products-by-category></app-all-products-by-category>
    </div>
  </div>
  <div class="left">
    <div class="cart">
      <app-cart></app-cart>
    </div>
  </div>
</div>



<!-- 
<div class="products">
    <app-products></app-products>
  </div> -->

<!-- ProductName:String,
    category:{ type: Schema.Types.ObjectId, ref: 'Category'},
    price:Number,
    img:String -->