.store-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    flex-wrap: wrap;
}

.panalA {
    margin-left: 20px;
    margin-right: 20px;
    display: inline-block;
}

.panalB {
    /* min-width: 40%; */
}

.panalC {
    /* min-width: 40%; */
}

.right {
    width: 60%;
    transition: width 500ms ease-in-out;
}

.right.side-bar-closed {
    width: 100%;
}

.left {
    position: absolute;
    left: 0;
}



