<div class="order-page-wrapper">
  <form [formGroup]="orderForm">
    <!-- <label class="form-label">Please select city: </label> -->
    <select class="form-control select-city" formControlName="city" (change)="changeCity($event)" >
      <option value="" disabled>Please choose your city</option>
      <option *ngFor="let city_name of cityNames" [ngValue]="city_name">{{city_name}}</option>
    </select>
    <button (click)="autoFillCity()">Auto Fill</button>
    <div *ngIf="checkRequired && f.city.errors" class="invalid-feedback-custom">
      <div *ngIf="f.city.errors.required">city is required</div>
    </div>

    <input (dblclick)="autoFillStreet()" class="form-control" formControlName="street" placeholder='please enter your street'>
    <div *ngIf="checkRequired && f.street.errors" class="invalid-feedback-custom">
      <div *ngIf="f.street.errors.required">street is required</div>
    </div>

    <input type="date" class="form-control" formControlName="shipmentDate" placeholder="Please insert city">
    <div *ngIf="checkRequired && f.shipmentDate.errors" class="invalid-feedback-custom">
      <div *ngIf="f.shipmentDate.errors.required">shipmentDate is required</div>
    </div>

    <input class="form-control" formControlName="craditCard" placeholder="Please insert cradit card" (change)="changeCreditCard($event)">
    <div *ngIf="checkRequired && f.craditCard.errors" class="invalid-feedback-custom">
      <div *ngIf="f.craditCard.errors.required">cradit card is required</div>
      <div *ngIf="f.craditCard.errors.invalidCardNumber">invalide craditcard number</div>
    </div>

    <div class="button-wrapper">
      <button class="btn btn-primary" (click)="sendForm()"> Order </button>
      <button class="btn btn-secondary" (click)="closeOrderPage()"> Back to shop </button>
    </div>

  </form>
</div>